main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../assets/images/bg-pattern.png");
  background-repeat: repeat;
  background-size: auto;
}

/* NAVIGATION / HEADER
----------------------------- */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    $secondary-color,
    $primary-color
  );
  box-shadow: rgba(255, 182, 193, 0.5) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

nav {
  display: flex;
  place-content: center;
}

.logo-img {
  width: 200px;
  max-width: 100%;
  height: auto;
  padding-block: 10px;
}

.cart-btn {
  align-self: center;
  position: relative;
  right: -50px;
}

/* SHOP
----------------------------- */
h1 {
  font-family: $primary-font;
  text-transform: uppercase;
  color: $primary-color;
  font-size: 4rem;
  text-shadow: 0 0 10px $primary-color;
  
  display: flex;
  justify-content: center;
}

/* SORT BUTTONS
----------------------------- */
.sort-buttons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-block: 30px;
}

.sort-btn {
  @include secondButtonTheme;
  background-color: rgb(255, 255, 255);
  width: 72px;
  min-height: 72px;

  img {
    width: 48px;
    max-width: 100%;
    height: auto;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 182, 193, 0.4) 0px 2px 4px, rgba(255, 182, 193, 0.3) 0px 7px 13px -3px, rgba(255, 182, 193, 0.2) 0px -3px 0px inset;
  }
}

/* TOP & CART FLOATING BUTTONS
----------------------------- */
.cart-top-buttons {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 99;
}

.floating-btn {
  @include secondButtonTheme;
  color: #ffffff;
  width: 100px;
  min-height: 100px;

  .material-symbols-outlined {
    font-size: 64px;
  }

  &:hover {
    color: $text-color;
  }
}

/* PRODUCTS PAGE
----------------------------- */
.products-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 120px 70px;
  text-align: center;

  font-family: $secondary-font;
  color: $text-color;
  font-size: 1.3rem;

  h2 {
    font-family: $primary-font;
    font-size: 1.6rem;
  }
}

.product-image {
  width: 400px;
  max-width: 100%;
  height: auto;
  border-radius: 100px;
}

.product-card {
  background-color: #ffffff;
  border-radius: 100px 100px 50px 50px;
  box-shadow: rgba(255, 182, 193, 0.5) 0px -10px 29px 0px;
  display: flex;
  flex-direction: column;
}

/* PRODUCT BUTTONS
----------------------------- */
.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/* PLUS MINUS BUTTONS & AMOUNT
----------------------------- */
.plusminus-amount {
  padding-inline: 30px;
  font-size: 1.5rem;
}

.minus-btn,
.plus-btn {
  @include buttonTheme;
  width: 48px;
  min-height: 48px;
  border-radius: 50%;
  font-size: 1.5rem;
}

/* ADD TO CART BUTTON
----------------------------- */
.add-cart-btn {
  @include buttonTheme;
  width: 55%;
  border-radius: 50px;
  padding-block: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  margin-bottom: -20px;
}

/* CART UPDATED POPUP
----------------------------- */
.hidden-cart-updated {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: $primary-color;
  color: $text-color;
  border-radius: 10px;
  padding: 20px;
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 1.3rem;
  box-shadow: rgba(163, 217, 255, 0.3) 0px 0px 0px 3px;

  transition: opacity 0.5s ease-in-out;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

/* ORDER SUMMARY & FORM CONTAINER
----------------------------- */
.summary-and-form {
  display: flex;
  flex-direction: column;
  margin: 100px 20px;
}

/* ORDER SUMMARY
----------------------------- */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.order-summary {
  scroll-margin-top: 110px; //Prevent top part being hidden by header when scroll there
  font-family: $secondary-font;
  color: $text-color;
  font-size: 1.3rem;
  padding: 30px;
  max-width: 700px;
  border: 3px solid;
  border-image: linear-gradient(to bottom, 
  $secondary-color, rgba(0, 0, 0, 0)) 1 100%;

  h2 {
    font-family: $primary-font;
    font-size: 2rem;
    margin: 0;
  }
}

.cart-info-msg {
  font-size: 1rem;
  margin-bottom: 20px;
}

.shipcost-info {
  margin-top: -20px;
}

.item-in-cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.incart-price {
  margin-left: auto;
  text-align: right;
}

/* FORM
----------------------------- */
.user-form {
  max-width: 700px;
  font-family: $secondary-font;
  color: $text-color;
  font-size: 1.3rem;
  padding: 50px;

  border: 1px solid $secondary-color;
  border-radius: 8px;
  background-color: rgba(255, 182, 193, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    font-family: $primary-font;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 50px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  label {
    font-weight: bold;
    margin-bottom: 10px;
  }

  input {
    border: none;
    height: 32px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;

    &:hover {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
  }
}

.type-here {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.inline-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.form-info-msg {
  font-size: 0.99rem;
  margin-bottom: 10px;
}

.invalid-input {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

.invalid-msg {
  display: block;
  color: red;
  font-size: 1rem;
}

/* CARD & INVOICE
----------------------------- */
.hidden {
  display: none !important;
}

.payment-options {
  display: flex;
  align-items: center;
  gap: 20px;

  input[type="radio"] {
    width: auto;
    margin: 0 -12px 0 0;
    box-shadow: none;
  }

  label {
    font-weight: normal;
    margin: 0;
  }
}

.invoice-section,
.card-section {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* CHECKBOXES
----------------------------- */
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

.checkbox-field {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;

  input[type="checkbox"] {
    width: auto;
    margin: 0;
    box-shadow: none;
  }

  label {
    margin: 0;

    span {
      font-size: 0.99rem;
      font-weight: normal;
    }
  }
}

/* DISCOUNT FIELD
----------------------------- */
.discount-field {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  margin-block: 30px;

  label {
    margin: 0;
  }

  input {
    max-width: 200px;
  }
}

/* CLEAR & ORDER BUTTONS
----------------------------- */
.order-clear {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.clearbtn, .orderbtn {
  font-size: 1.2rem;
  font-family: $primary-font;
  padding: 15px;
  width: 250px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.clearbtn {
  background-color: $secondary-color;
  color: white;
  border: none;

  &:hover {
    background-color: #ff91af;
  }
}

.orderbtn {
  background-color: $primary-color;
  color: white;
  border: none;

  &:hover {
    background-color: #60b6e0;
  }

  &:disabled {
    background-color: #dbe8f3;
    cursor: not-allowed;
  }
}

/* FOOTER
----------------------------- */
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: $secondary-font;
  padding: 20px 50px;
  font-size: 1rem;
}